/*
	Author Details
	==============

	Author: Mobifreaks
	Author URL: http://mobifreaks.com

	Attribution( is must on every page, where this work is used. should be visible to naked eye and Search engine bot[ means should not use noindex, nofollow relations ]):

	// a healty attribution looks like following
	<a href="http://mobifreaks.com" target="_blank">Design by Mobifreaks</a>

	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/

	if any regards of infringement, may lead to lawsuit under Digital Millennium Copyright Act (DMCA)

	For Attribution removal request. please consider contacting us through http://mobifreaks.com/feedback/ or mail us at support[at]mobifreaks.com
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
h1,h2,h3,h4,h5,h6{font-family: 'Source Sans Pro', sans-serif;font-weight:normal;color:#333;}
h1,h2,h3,h4,h5,h6,figcaption{text-transform:capitalize;}

nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
.pos-rel{position:relative;}
.clearfix{clear:both;}
a{text-decoration:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
audio,video{max-width:100%;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{font-family:Arial, Helvetica, sans-serif;background:#f9f9f9;margin:0;}
a{color:#006F9A;}
a:focus{outline:thin dotted;}
a:hover,a:active{color:#b33100;outline:0;}
h1{font-size:2.2em;margin:0 0 0.2em 0;}h1 a{color:#006f9a;}
h2{font-size:1.8em;margin:0 0 0.2em 0;}
h3{font-size:1.6em;margin:0 0 0.5em 0;}
h4{font-size:1.4em;margin:0 0 0.6em 0;}
h5{font-size:1.3em;margin:0 0 0.7em 0;}
h6{font-size:1.2em;margin:0 0 1.3em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:0 0 1em 0;line-height:1.8em;color:#4d4d4d;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
address{margin-bottom:10px;}
ol,ul,dl{padding:0 0 0 40px;margin:0 0 10px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0 0 20px;padding:0;}
article pre{padding:10px;background:rgba(255, 255, 255, 0.1);border:1px solid #ddd;box-shadow:inset 0 0 10px #eeeeee;-moz-box-shadow:inset 0 0 10px #eeeeee;-webkit-box-shadow:inset 0 0 10px #eeeeee;font-size:0.8em;}
article ul ul,article ol ul,article dl ul,article ul ol,article ol ol,article dl ol{margin:0;}
article nav ul li,article nav ol li,article ol li,article ul li,article dl li,article nav ul dt,article nav ol dt,article ol dt,article ul dt,article dl dt,article nav ul dd,article nav ol dd,article ol dd,article ul dd,article dl dd{line-height:1.8em;}
article dt{font-weight:bold;}
article dd{margin:0 0 5px 40px;}
img{border:0;-ms-interpolation-mode:bicubic; max-width:100%;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}form label{
	font-size:12px;
	margin-bottom: 0.4em;
}
form.contact-form{margin-bottom:20px;}
form input[type=text],
form input[type=password],textarea{
	-webkit-appearance:none;
	-moz-appearance:none;
}
form input[type="radio"]{
	position:relative;
	top:1px;
}
form div{
	margin:0 0 0.8em 0;
}
form textarea{
	height:80px;
}
label{display:block;}
form label span.red{
	color:#ff0000;
}
form input[type=submit]{
	cursor: pointer;	
}
form input[type=submit],
form input[type=text],
form input[type=password],
form textarea{
	padding:5px;
}
form input[type=text],
form input[type=password],
form textarea,
form input[type=submit]{
	background:#fafafa;
	border:1px solid #ddd;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
form input:focus,
form textarea:focus{
	outline:1px solid #00baff;
}
form input[type=submit]{
	width:100%;
	background: #f9fcf7;
	background: -moz-linear-gradient(top,  #f9fcf7 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#eee));
	background: -webkit-linear-gradient(top,  #f9fcf7 0%,#eee 100%);
	background: -o-linear-gradient(top,  #f9fcf7 0%,#eee 100%);
	background: -ms-linear-gradient(top,  #f9fcf7 0%,#eee 100%);
	background: linear-gradient(to bottom,  #f9fcf7 0%,#eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#eee',GradientType=0 );
	color:#565656;
	font-weight:bold;
	font-size:0.8em;
	padding:10px;
}

/*
	Author Details
	==============

	Author: Mobifreaks
	Author URL: http://mobifreaks.com

	Attribution( is must on every page, where this work is used. should be visible to naked eye and Search engine bot[ means should not use noindex, nofollow relations ]):

	// a healty attribution looks like following
	<a href="http://mobifreaks.com" target="_blank">Design by Mobifreaks</a>

	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/

	if any regards of infringement, may lead to lawsuit under Digital Millennium Copyright Act (DMCA)

	For Attribution removal request. please consider contacting us through http://mobifreaks.com/feedback/ or mail us at support[at]mobifreaks.com
 */
.inline input,.inline label{display:inline-block !important;}
/* typography */
p{font-size:0.9em; line-height:1.6em}
blockquote{background:url("../images/quotes.png") no-repeat top left;padding-left:40px;min-height:30px;margin:5px 0 30px 0;font-size:0.8em;line-height:1.6em;color:#767676;}
/* styling */
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#f9f9f9;
	border-top:2px solid #2d2d2d;
}
.wrap{
	width:auto;
	margin:0 20px;
}

.header,.footer{
	font-size:0.8em;
	}
.header p, .footer p{color:#565656;}
footer{text-align:center;}
.footer p:last-of-type{margin-bottom:0;}
.copy{font-size:0.6em; margin:10px 0; color:#777; text-align:center;}
.copy a{color:#B43641;}
.logo{
	float:left;
	padding:15px 0;
}
.logo img{display:block;}
.menu-but{
	float:right;
	padding:19px 0 0 0;
}
.content{}
.menu{
	list-style:none;
	margin:0;
	padding:0;
	font-size:1.2em;
	}
.menu li{display:block;}
.menu li{margin-bottom:5px;}
.menu a{
	padding:5px;
	color:#2d2d2d;
	font-weight:bold;
}
.menu a:hover{color:#b43641;}
.icon .span,.icon a,.icon span{padding:5px 5px 5px 40px;}
.icon .span,.menu a,.icon span{display:block; position:relative;}
.icon .span:before,.icon a:before,.icon span:before{
	width:32px;
	height:32px;
	content:"";
	position:absolute;
	top:0; left:0;
}
.info a:before,.info span:before,.info .span:before{background:url('../images/info.png') no-repeat;}
.home a:before,.home span:before,.home .span:before{background:url('../images/home.png') no-repeat;}
.gear a:before,.gear span:before,.gear .span:before{background:url('../images/gear.png') no-repeat;}
.bubble a:before,.bubble span:before,.bubble .span:before{background:url('../images/bubble.png') no-repeat;}
.add a:before,.add span:before,.add .span:before{background:url('../images/add.png') no-repeat;}
.call a:before,.call span:before,.call .span:before{background:url('../images/call.png') no-repeat;}
.navigation a:before,.navigation span:before,.navigation .span:before{background:url('../images/navigation.png') no-repeat;}
.mail a:before,.mail span:before,.mail .span:before{background:url('../images/mail.png') no-repeat;}
ul.small{font-size:0.8em;}
ul.small a{font-weight:normal;}
.separator{
	margin:15px 0;
	opacity:0.1;
	border-width: 1px;
	border-bottom:none;
}
.header+.separator{margin-top:0;}
article figure{
	width:100%;
	margin:0 auto 20px auto;
	max-width:480px;
  	position: relative;
  	box-shadow:0 0 4px rgba(0,0,0,0.3);
  	-moz-box-shadow:0 0 4px rgba(0,0,0,0.3);
  	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.3);
  	
}
article{padding-bottom:30px;}
article:first-of-type{padding-top:20px;}
article:last-of-type{padding-bottom:0;}
article figure a{display:block;}
article figure img{
	padding:10px;
	display:block;
	border:none;
	background:#eee;
	text-align:center;
	max-width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article figure figcaption{
	font-size:0.9em;
	padding:0 10px 10px 10px;
	color:#222;
	background:#eee;
	font-weight:bold;
}
a.more{font-size:0.8em; text-decoration:underline; color:#006F9A}
.social{margin:10px 0 20px 0;}
.social a{
	opacity:0.5;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
}
.social a:hover{opacity:1;}
/* post content and preview styling */
.post-preview{
	float:left;
	width:58px;
	height:58px;
	padding:0 10px 0 0;
	border-right:1px solid #eee;
}
.post-preview a,
.post-preview img{
display:block;
}
.post-preview img{
	margin:0;
	padding:5px;
	border:1px solid #333;
	background:#2d2d2d;
}
.post-content{
	float:left;
	width:72%;
	padding:0 0 0 10px;
}
.comments li{
	padding-bottom:30px;
}
.comments li p{
	margin-bottom:5px;
}
.paginate{

	margin:20px 0 0 0;

}

.paginate ul{
	margin:0;
	padding:0;
}
.paginate ul li{
	display:inline-block;
	margin:0 5px 0 0;
	line-height: normal;
	font-size:0;
}
.paginate ul li:first-child{
	padding:0;	
}
.paginate ul li a,
.paginate ul li span.current{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size:10px;
	position:relative;
	padding:8px 10px;
	display: block;
	-moz-box-shadow:0 0 3px #ccc;
	-webkit-box-shadow:0 0 3px #ccc;
	box-shadow:0 0 3px #ccc;
	background: #f9fcf7; /* Old browsers */
background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */

	font-size:12px;
	color:#767676;
}
.paginate ul li a:hover,
.paginate ul li span.current{
	color:#fff;
	background: #ff664d; /* Old browsers */
background: -moz-linear-gradient(top,  #ff664d 0%, #fc492d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff664d), color-stop(100%,#fc492d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff664d 0%,#fc492d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff664d 0%,#fc492d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff664d 0%,#fc492d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff664d 0%,#fc492d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff664d', endColorstr='#fc492d',GradientType=0 ); /* IE6-9 */

}
/* Styling  for responsive slider */
.slider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0px auto 20px auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  }

.slider li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.slider li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.slider img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  max-width:100%;
  border: 0;
  }
 
/*
	Author Details
	==============

	Author: Mobifreaks
	Author URL: http://mobifreaks.com

	Attribution( is must on every page, where this work is used. should be visible to naked eye and Search engine bot[ means should not use noindex, nofollow relations ]):

	// a healty attribution looks like following
	<a href="http://mobifreaks.com" target="_blank">Design by Mobifreaks</a>

	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/

	if any regards of infringement, may lead to lawsuit under Digital Millennium Copyright Act (DMCA)

	For Attribution removal request. please consider contacting us through http://mobifreaks.com/feedback/ or mail us at support[at]mobifreaks.com
*/

